# Python / Flask
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database & Uploads
*.db
*.sqlite3
uploads/assignments/*
uploads/submissions/*
!uploads/assignments/.gitkeep
!uploads/submissions/.gitkeep

# IDE / System
.vscode/
.idea/
.DS_Store
